@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Grape+Nuts&family=Mynerve&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #3d3b40; */
  background-color: #191717;
  color: #b4b4b3;
  /* overflow: hidden; */
}

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #191717;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FC6736;
    border-radius: 6px;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
