@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Grape+Nuts&family=Mynerve&family=Oxygen:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F2544;
  color: #EEEDEB;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
